@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Medium"), local("GolosText-Medium"), url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: local("Golos Text SemiBold"), local("GolosText-SemiBold"), url("../fonts/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: local("Golos Text Regular"), local("GolosText-Regular"), url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --black: #101010;
  --blue: #39b9ec;
  --bg: #071926;
  --button-hover:#dedc00;
  --font-family: "Golos Text", sans-serif;
}

/*======================Глобальные настройки===========================*/
.body {
  font-family: var(--font-family);
  line-height: 1.32;
  background-color: #071926;
  background-image: url(../img/pattern.png);
}

/*======================Presentation Screen===========================*/
.presentation__screen {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #071926;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.presentation__screen::before {
  content: "";
  background-image: url(../img/hero-bg.png);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 180px;
  z-index: -3;
}
.presentation__screen-title {
  font-weight: 800;
  font-size: 150px;
  line-height: 142%;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.presentation__screen-text {
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  overflow: hidden;
}
.presentation__screen-img {
  z-index: -1;
}

.presentation__screen__psevElem::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 0%;
  height: 1000px;
  width: 1200px;
  background-color: var(--bg);
  border-radius: 50%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
  -webkit-animation: presentation-before 2.5s forwards;
          animation: presentation-before 2.5s forwards;
}

.presentation__screen__psevElem::after {
  content: "";
  position: absolute;
  top: -20%;
  left: 0%;
  height: 1000px;
  width: 1200px;
  background-color: var(--bg);
  border-radius: 50%;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: -1;
  -webkit-animation: presentation-after 2.5s forwards;
          animation: presentation-after 2.5s forwards;
}

@-webkit-keyframes presentation-before {
  100% {
    top: -30%;
    right: -15%;
    height: 1000px;
    width: 1050px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
  }
}

@keyframes presentation-before {
  100% {
    top: -30%;
    right: -15%;
    height: 1000px;
    width: 1050px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
  }
}
@-webkit-keyframes presentation-after {
  100% {
    top: -30%;
    left: -15%;
    height: 1000px;
    width: 1050px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
  }
}
@keyframes presentation-after {
  100% {
    top: -30%;
    left: -15%;
    height: 1000px;
    width: 1050px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-transform: rotate(65deg);
            transform: rotate(65deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
  }
}
/*======================Глобальные настройки===========================*/
[data-aos=custom] {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
[data-aos=custom].aos-animate {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #071926;
  background-image: url(../img/pattern.png);
  z-index: 1;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/*==============================HEADER====================================*/
.header {
  background-color: var(--bg);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 6;
}
.header__inner {
  padding: 20px 0 16px;
}
.header__list {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__item {
  font-weight: 800;
  font-size: 24px;
  line-height: 142%;
  color: #fff;
}
.header__item:nth-child(2) {
  display: none;
}
.header__item:nth-child(4) {
  justify-self: end;
}
.header__item:nth-child(5) {
  justify-self: end;
  display: none;
}

.button {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 122px;
  padding: 8px 24px;
  position: relative;
}

.button:hover {
  color: var(--button-hover);
  border: 2px solid var(--button-hover);
}

.button:active {
  color: #fff;
  border: 2px solid var(--button-hover);
  background: linear-gradient(126deg, #ec6608 0%, #dedc00 100%);
}

.button__gradient {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  background-color: transparent;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 122px;
  padding: 8px 24px;
  position: relative;
}

.button__gradient:hover {
  color: var(--button-hover);
}

.button__gradient:active {
  color: #fff;
  background: linear-gradient(126deg, #ec6608 0%, #dedc00 100%);
}

.button__gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 122px;
  padding: 3px;
  margin: -4px -3px;
  background: linear-gradient(126deg, #ec6608 0%, #dedc00 100%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-animation: button 1s infinite alternate;
          animation: button 1s infinite alternate;
}

@-webkit-keyframes button {
  10% {
    background: linear-gradient(130deg, #ec6608 0%, #dedc00 100%);
  }
  20% {
    background: linear-gradient(135deg, #ec6608 0%, #dedc00 100%);
  }
  30% {
    background: linear-gradient(140deg, #ec6608 0%, #dedc00 100%);
  }
  40% {
    background: linear-gradient(145deg, #ec6608 0%, #dedc00 100%);
  }
  50% {
    background: linear-gradient(150deg, #ec6608 0%, #dedc00 100%);
  }
  60% {
    background: linear-gradient(155deg, #ec6608 0%, #dedc00 100%);
  }
  70% {
    background: linear-gradient(160deg, #ec6608 0%, #dedc00 100%);
  }
  80% {
    background: linear-gradient(165deg, #ec6608 0%, #dedc00 100%);
  }
  85% {
    background: linear-gradient(170deg, #ec6608 0%, #dedc00 100%);
  }
  90% {
    background: linear-gradient(175deg, #ec6608 0%, #dedc00 100%);
  }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ec6608), to(#dedc00));
    background: linear-gradient(180deg, #ec6608 0%, #dedc00 100%);
  }
  100% {
    background: linear-gradient(185deg, #ec6608 0%, #dedc00 100%);
  }
}

@keyframes button {
  10% {
    background: linear-gradient(130deg, #ec6608 0%, #dedc00 100%);
  }
  20% {
    background: linear-gradient(135deg, #ec6608 0%, #dedc00 100%);
  }
  30% {
    background: linear-gradient(140deg, #ec6608 0%, #dedc00 100%);
  }
  40% {
    background: linear-gradient(145deg, #ec6608 0%, #dedc00 100%);
  }
  50% {
    background: linear-gradient(150deg, #ec6608 0%, #dedc00 100%);
  }
  60% {
    background: linear-gradient(155deg, #ec6608 0%, #dedc00 100%);
  }
  70% {
    background: linear-gradient(160deg, #ec6608 0%, #dedc00 100%);
  }
  80% {
    background: linear-gradient(165deg, #ec6608 0%, #dedc00 100%);
  }
  85% {
    background: linear-gradient(170deg, #ec6608 0%, #dedc00 100%);
  }
  90% {
    background: linear-gradient(175deg, #ec6608 0%, #dedc00 100%);
  }
  95% {
    background: -webkit-gradient(linear, left top, left bottom, from(#ec6608), to(#dedc00));
    background: linear-gradient(180deg, #ec6608 0%, #dedc00 100%);
  }
  100% {
    background: linear-gradient(185deg, #ec6608 0%, #dedc00 100%);
  }
}
.button__gradient:hover.button__gradient::after {
  background: var(--button-hover);
  -webkit-animation: none;
          animation: none;
}

.button__gradient:active.button__gradient::after {
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  -webkit-animation: none;
          animation: none;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  background: linear-gradient(139deg, #39b9ec 0%, #063 100%);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger__icon span, .burger__icon span::before, .burger__icon span::after {
  content: "";
  border-radius: 60px;
  width: 26px;
  height: 2px;
  background-color: var(--bg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger__icon span {
  position: relative;
}
.burger__icon span::before {
  position: absolute;
  top: 8px;
}
.burger__icon span::after {
  position: absolute;
  bottom: 8px;
}

.burger__icon:hover {
  background: var(--button-hover);
}

.body--opened-menu .burger__icon span {
  background: transparent;
}

.body--opened-menu .burger__icon span::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

.body--opened-menu .burger__icon span::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

.header__nav-mobile {
  display: none;
}

/*=========================HERO===========================*/
.hero__inner {
  margin: 200px 0;
  display: grid;
  gap: 40px 10px;
  grid-template-columns: 1fr 1fr;
}
.hero__content {
  -ms-flex-item-align: center;
      align-self: center;
}
.hero__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 132%;
  color: #fff;
  overflow: hidden;
  margin-bottom: 35px;
}
.hero__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.hero__team-img {
  padding: 15px 10px;
  background: var(--blue);
  border-radius: 14px;
}
.hero__team-text {
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}
.hero__img {
  overflow: hidden;
  border-radius: 72px;
}
.hero__img img {
  width: 100%;
}

#animation__hero-text {
  display: none;
  -webkit-animation: hero 2s forwards;
          animation: hero 2s forwards;
}

@-webkit-keyframes hero {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes hero {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
#animation__hero-team {
  display: none;
  -webkit-animation: team 2.5s forwards;
          animation: team 2.5s forwards;
}

@-webkit-keyframes team {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes team {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
/*=========================ABOUT===========================*/
.about__inner {
  margin-bottom: 200px;
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.about__body--left {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0.16)), to(rgba(57, 185, 236, 0.16)));
  background: linear-gradient(180deg, rgba(232, 255, 233, 0.16) 0%, rgba(57, 185, 236, 0.16) 100%);
  overflow: hidden;
  border-radius: 80px;
  padding: 70px 100px 0;
  max-height: 320px;
  min-height: 300px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 65px;
}
.about__body--right {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0)), to(rgba(232, 255, 233, 0.08)));
  background: linear-gradient(180deg, rgba(232, 255, 233, 0) 0%, rgba(232, 255, 233, 0.08) 100%);
  overflow: hidden;
  border-radius: 80px;
  padding: 70px 100px 0;
  max-height: 360px;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 65px;
}

.first-title {
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.66);
}

.title {
  font-weight: 500;
  font-size: 60px;
  color: #fff;
  overflow: hidden;
  margin-bottom: 50px;
}

.body--left__img img {
  width: 100%;
}
.body--left__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.32;
  color: #fff;
  margin-top: 50px;
}

.body--right__img img {
  width: 100%;
}
.body--right__text {
  grid-row-start: 1;
  grid-row-end: -1;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.32;
  color: #fff;
  margin-top: 50px;
}

/*=========================FOOTER===========================*/
.footer {
  background: linear-gradient(141deg, rgba(57, 185, 236, 0.4862745098) 0%, rgba(0, 102, 51, 0.4901960784) 100%);
  border-radius: 72px;
  margin: 0 70px 30px;
}
.footer__inner {
  display: grid;
  grid-template-columns: auto 1fr 1.2fr;
  padding: 50px 50px 140px;
  gap: 140px;
}
.footer__logo img {
  width: 100%;
}
.footer__list-info {
  margin-top: 30px;
  max-width: 270px;
}
.footer__item-info:first-child {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.footer__item-info {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}
.footer__item-info:last-child {
  margin-bottom: none;
}
.footer__link-info {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link-info:hover {
  color: var(--button-hover);
}
.footer__link-info:active {
  color: black;
}
.footer__list-сontacts {
  margin-top: 30px;
}
.footer__item-сontacts:first-child {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 30px;
}
.footer__item-сontacts {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 16px;
}
.footer__item-сontacts:last-child {
  margin-bottom: none;
}
.footer__link-сontacts {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link-сontacts:hover {
  color: var(--button-hover);
}
.footer__link-сontacts:active {
  color: black;
}
.footer__link-sochial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

/*========================================================*/
/*======================Адаптив===========================*/
/*========================================================*/
@media (max-width: 1540px) {
  /*======================Presentation Screen===========================*/
  .presentation__screen__psevElem::before {
    content: "";
    position: absolute;
    top: -20%;
    right: 0%;
    height: 1000px;
    width: 1200px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
    -webkit-animation: presentation-before 2.5s forwards;
            animation: presentation-before 2.5s forwards;
  }
  .presentation__screen__psevElem::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 0%;
    height: 1000px;
    width: 1200px;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-filter: blur(50px);
            filter: blur(50px);
    z-index: -1;
    -webkit-animation: presentation-after 2.5s forwards;
            animation: presentation-after 2.5s forwards;
  }
  @-webkit-keyframes presentation-before {
    100% {
      top: -30%;
      right: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: -30%;
      right: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: -30%;
      left: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: -30%;
      left: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
}
@media (max-width: 1400px) {
  /*======================HERO===========================*/
  .hero__text {
    font-size: 26px;
  }
  /*======================FOOTER===========================*/
  .footer__inner {
    grid-template-columns: 1fr 1fr;
    padding: 50px 50px 50px;
    gap: 20px;
    justify-items: center;
  }
  .footer__logo {
    grid-column: 1/-1;
  }
}
@media (max-width: 1350px) {
  /*======================Presentation Screen===========================*/
  @-webkit-keyframes presentation-before {
    100% {
      top: -20%;
      right: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: -20%;
      right: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: -20%;
      left: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: -20%;
      left: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================ABOUT===========================*/
  .body--left__text {
    font-size: 20px;
  }
  .body--right__text {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  /*======================Presentation Screen===========================*/
  @-webkit-keyframes presentation-before {
    100% {
      top: 10%;
      right: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 10%;
      right: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 10%;
      left: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 10%;
      left: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================HERO===========================*/
  .hero__text {
    font-size: 20px;
  }
  /*======================ABOUT===========================*/
  .body--left__text {
    font-size: 16px;
  }
  .body--right__text {
    font-size: 16px;
  }
}
@media (max-width: 1000px) {
  /*======================Presentation Screen===========================*/
  @-webkit-keyframes presentation-before {
    100% {
      top: 20%;
      right: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 20%;
      right: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 20%;
      left: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 20%;
      left: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================HEADER===========================*/
  .header .header__item:nth-child(1) {
    display: none;
  }
  .header__item:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .header__item:nth-child(4) {
    display: none;
  }
  .header__item:nth-child(5) {
    justify-self: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__nav-mobile {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 9%;
    background: var(--bg);
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0 0 40px 40px;
  }
  .header__list-mobile {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding: 30px;
  }
  .body--opened-menu .header__nav-mobile {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  /*======================ABOUT===========================*/
  .about__inner {
    margin-bottom: 200px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about__body--left {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0.16)), to(rgba(57, 185, 236, 0.16)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0.16) 0%, rgba(57, 185, 236, 0.16) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 320px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 65px;
  }
  .about__body--right {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0)), to(rgba(232, 255, 233, 0.08)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0) 0%, rgba(232, 255, 233, 0.08) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 360px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 65px;
  }
  .body--left__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: 100px;
  }
  .body--left__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.32;
    color: #fff;
  }
  .body--right__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: 100px;
  }
  .body--right__text {
    grid-row-start: 1;
    grid-row-end: -1;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.32;
    color: #fff;
    margin-top: 50px;
  }
}
@media (max-width: 900px) {
  /*======================HERO===========================*/
  .hero__inner {
    padding: 0 30px;
  }
  .hero__content {
    grid-column: 1/-1;
  }
  .hero__text {
    font-size: 32px;
  }
  .hero__img {
    grid-row: 1;
    grid-column: 1/-1;
  }
  /*======================ABOUT===========================*/
  .about__inner {
    margin-bottom: 200px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about__body--left {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0.16)), to(rgba(57, 185, 236, 0.16)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0.16) 0%, rgba(57, 185, 236, 0.16) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 320px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    gap: 65px;
    justify-items: center;
  }
  .about__body--right {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0)), to(rgba(232, 255, 233, 0.08)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0) 0%, rgba(232, 255, 233, 0.08) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 360px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 65px;
  }
  .body--left__img {
    width: 90%;
    margin-top: 100px;
  }
  .body--left__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.32;
    color: #fff;
    margin-top: 50px;
  }
  .body--right__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: 130px;
  }
  .body--right__text {
    grid-row-start: 1;
    grid-row-end: -1;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.32;
    color: #fff;
    margin-top: 50px;
  }
  /*======================FOOTER===========================*/
  .footer__inner {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}
@media (max-width: 800px) {
  /*======================Presentation Screen===========================*/
  .presentation__screen::before {
    padding: 200px;
  }
  .presentation__screen-title {
    font-size: 100px;
  }
  .presentation__screen-text {
    font-size: 16px;
    max-width: 350px;
  }
  @-webkit-keyframes presentation-before {
    100% {
      top: 20%;
      right: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 20%;
      right: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(-65deg);
              transform: rotate(-65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 20%;
      left: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 20%;
      left: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================HERO===========================*/
  .hero__text {
    font-size: 24px;
  }
  /*======================ABOUT===========================*/
  .about__inner {
    margin-bottom: 200px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about__body--left {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0.16)), to(rgba(57, 185, 236, 0.16)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0.16) 0%, rgba(57, 185, 236, 0.16) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 320px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 65px;
  }
  .about__body--right {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0)), to(rgba(232, 255, 233, 0.08)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0) 0%, rgba(232, 255, 233, 0.08) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 360px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 65px;
  }
  .body--left__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: 100px;
  }
  .body--left__text {
    font-size: 16px;
  }
  .body--right__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: 120px;
  }
  .body--right__text {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  /*======================Presentation Screen===========================*/
  @-webkit-keyframes presentation-before {
    100% {
      top: 20%;
      right: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 20%;
      right: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(25deg);
              transform: rotate(25deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 20%;
      left: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 20%;
      left: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(65deg);
              transform: rotate(65deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================HERO===========================*/
  .hero__text {
    font-size: 20px;
  }
  /*======================ABOUT===========================*/
  .about__inner {
    margin-bottom: 200px;
  }
  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .about__body--left {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0.16)), to(rgba(57, 185, 236, 0.16)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0.16) 0%, rgba(57, 185, 236, 0.16) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 320px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 65px;
    justify-items: center;
  }
  .about__body--right {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(232, 255, 233, 0)), to(rgba(232, 255, 233, 0.08)));
    background: linear-gradient(180deg, rgba(232, 255, 233, 0) 0%, rgba(232, 255, 233, 0.08) 100%);
    overflow: hidden;
    border-radius: 80px;
    padding: 30px;
    max-height: 360px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 65px;
    justify-items: center;
  }
  .first-title {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .body--left__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: -30px;
    width: 80%;
  }
  .body--left__text {
    grid-row: 1;
    font-size: 16px;
    margin-top: 0px;
  }
  .body--right__img {
    -ms-flex-item-align: end;
        align-self: end;
    margin-top: -40px;
    width: 80%;
  }
  .body--right__text {
    font-size: 16px;
    margin-top: 0px;
  }
}
@media (max-width: 600px) {
  /*======================Presentation Screen===========================*/
  .presentation__screen::before {
    padding: 220px;
  }
  .presentation__screen-title {
    font-size: 80px;
  }
  .presentation__screen-text {
    font-size: 16px;
    max-width: 350px;
  }
  @-webkit-keyframes presentation-before {
    100% {
      top: 10%;
      right: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 10%;
      right: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 10%;
      left: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 10%;
      left: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================FOOTER===========================*/
  .footer {
    margin: 0 20px 30px;
  }
  .footer__inner {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
    justify-items: start;
  }
}
@media (max-width: 500px) {
  /*======================HERO===========================*/
  .hero__inner {
    padding: 0 10px;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__team-text {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  /*======================Presentation Screen===========================*/
  @-webkit-keyframes presentation-before {
    100% {
      top: 10%;
      right: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-before {
    100% {
      top: 10%;
      right: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @-webkit-keyframes presentation-after {
    100% {
      top: 10%;
      left: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  @keyframes presentation-after {
    100% {
      top: 10%;
      left: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      z-index: -1;
    }
  }
  /*======================FOOTER===========================*/
  .footer__item-info {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
  }
  .footer__item-сontacts {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  /*======================Presentation Screen===========================*/
  .presentation__screen::before {
    padding: 250px;
  }
  .presentation__screen-title {
    font-size: 60px;
  }
  .presentation__screen-text {
    font-size: 16px;
    max-width: 250px;
  }
  .button {
    padding: 8px 15px;
  }
  /*======================HERO===========================*/
  .hero__inner {
    margin: 100px 0;
    padding: 0 10px;
  }
  .hero__text {
    font-size: 12px;
  }
  .hero__team-text {
    font-size: 14px;
  }
}