@media (max-width: 1540px) {

  /*======================Presentation Screen===========================*/
  .presentation__screen__psevElem::before {
    content: '';
    position: absolute;
    top: -20%;
    right: 0%;
    height: 1000px;
    width: 1200px;
    background-color: var(--bg);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
    animation: presentation-before 2.5s forwards;
  }

  .presentation__screen__psevElem::after {
    content: '';
    position: absolute;
    top: -20%;
    left: 0%;
    height: 1000px;
    width: 1200px;
    background-color: var(--bg);
    border-radius: 50%;
    filter: blur(50px);
    z-index: -1;
    animation: presentation-after 2.5s forwards;
  }

  @keyframes presentation-before {
    0% {}

    100% {
      top: -30%;
      right: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(-65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: -30%;
      left: -15%;
      height: 1000px;
      width: 850px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }
}

@media (max-width: 1400px) {

  /*======================HERO===========================*/
  .hero {
    &__text {
      font-size: 26px;
    }
  }




  /*======================FOOTER===========================*/
  .footer {
    &__inner {
      grid-template-columns: 1fr 1fr ;
      padding: 50px 50px 50px;
      gap: 20px;
      justify-items: center;
    }

    &__logo {
      grid-column: 1 / -1;
    }
    &__list-сontacts {
    }
  }
}

@media (max-width: 1350px) {

  /*======================Presentation Screen===========================*/
  @keyframes presentation-before {
    0% {}

    100% {
      top: -20%;
      right: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(-65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: -20%;
      left: -15%;
      height: 900px;
      width: 750px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }
}

@media (max-width: 1200px) {

  /*======================Presentation Screen===========================*/
  @keyframes presentation-before {
    0% {}

    100% {
      top: 10%;
      right: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(-65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 10%;
      left: -15%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  /*======================HERO===========================*/
  .hero {
    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 1000px) {

  /*======================Presentation Screen===========================*/
  @keyframes presentation-before {
    0% {}

    100% {
      top: 20%;
      right: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(-65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 20%;
      left: -40%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  /*======================HEADER===========================*/
  .header {

    .header__item:nth-child(1) {
      display: none;
    }

    &__item:nth-child(2) {
      display: flex;
    }

    .header__item:nth-child(4) {
      display: none;
    }

    &__item:nth-child(5) {
      justify-self: end;
      display: flex;
    }
  }

  .header__nav-mobile {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 9%;
    background: var(--bg);
    transform: translateX(100%);
    transition: all .3s;
    border-radius: 0 0 40px 40px;
  }

  .header__list-mobile {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
  }

  .body--opened-menu .header__nav-mobile {
    transform: translateX(0);
  }



}

@media (max-width: 900px) {

  /*======================HERO===========================*/
  .hero {
    &__inner {
      padding: 0 30px;
    }

    &__content {
      grid-column: 1 / -1;
    }

    &__text {
      font-size: 32px;
    }

    &__img {
      grid-row: 1;
      grid-column: 1 /-1;
    }
  }

  /*======================FOOTER===========================*/
  .footer {
    &__inner {
      grid-template-columns: 1fr ;
      justify-items: start;
    }
  }
}

@media (max-width: 800px) {

  /*======================Presentation Screen===========================*/
  .presentation {
    &__screen::before {
      padding: 200px;
    }

    &__screen-title {
      font-size: 100px;
    }

    &__screen-text {
      font-size: 16px;
      max-width: 350px;
    }
  }

  @keyframes presentation-before {
    0% {}

    100% {
      top: 20%;
      right: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(-65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 20%;
      left: -50%;
      height: 700px;
      width: 550px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  /*======================HERO===========================*/

  .hero {
    &__text {
      font-size: 24px;
    }
  }
}

@media (max-width: 700px) {

  /*======================Presentation Screen===========================*/
  @keyframes presentation-before {
    0% {}

    100% {
      top: 20%;
      right: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(25deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 20%;
      left: -60%;
      height: 600px;
      width: 650px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(65deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  /*======================HERO===========================*/

  .hero {
    &__text {
      font-size: 20px;
    }
  }

}

@media (max-width: 600px) {

  /*======================Presentation Screen===========================*/
  .presentation {
    &__screen::before {
      padding: 220px;
    }

    &__screen-title {
      font-size: 80px;
    }

    &__screen-text {
      font-size: 16px;
      max-width: 350px;
    }
  }

  @keyframes presentation-before {
    0% {}

    100% {
      top: 10%;
      right: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(0deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 10%;
      left: -60%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(0);
      filter: blur(50px);
      z-index: -1;
    }
  }


  /*======================FOOTER===========================*/
  .footer {
    margin: 0 20px 30px;
    &__inner {
      grid-template-columns: 1fr ;
      padding: 20px;
      gap: 20px;
      justify-items: start;
    }
  }
}

@media (max-width: 500px) {
  /*======================HERO===========================*/

  .hero {
    &__inner {
      padding: 0 10px;
    }

    &__text {
      font-size: 16px;
    }

    &__team-text {
      font-size: 14px;
    }
  }
}

@media (max-width: 450px) {

  /*======================Presentation Screen===========================*/


  @keyframes presentation-before {
    0% {}

    100% {
      top: 10%;
      right: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(0deg);
      filter: blur(50px);
      z-index: -1;
    }
  }

  @keyframes presentation-after {
    0% {}

    100% {
      top: 10%;
      left: -70%;
      height: 500px;
      width: 450px;
      background-color: var(--bg);
      border-radius: 50%;
      transform: rotate(0);
      filter: blur(50px);
      z-index: -1;
    }
  }

  /*======================FOOTER===========================*/
  .footer {
    &__item-info {
      font-weight: 400;
      font-size: 16px;
      color: #fff;
      margin-bottom: 16px;
    }
    &__item-сontacts {
      font-size: 16px;
    }
  }
}

@media (max-width: 400px) {

  /*======================Presentation Screen===========================*/

  .presentation {
    &__screen::before {
      padding: 250px;
    }

    &__screen-title {
      font-size: 60px;
    }

    &__screen-text {
      font-size: 16px;
      max-width: 250px;
    }
  }

  .button {
    padding: 8px 15px;
  }

  /*======================HERO===========================*/
  .hero {
    &__inner {
      margin: 100px 0;
      padding: 0 10px;
    }

    &__text {
      font-size: 12px;
    }

    &__team-text {
      font-size: 14px;
    }
  }
}